#pgCompetitionList {
    #myAccountPanel {
        h2 {
            font-size: 14px;
            margin: 20px 0 10px;
            color: $grey;
            border-top: 1px solid $lightBorderGrey;
            padding-top: 20px;
        }
    }
}
