#pgMPIncidents {
    .formSepContainer {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 40px;
        }
    }
    .overlayContentWrapper {
        float: right;
        width: 68%;
    }
    select {
        width: auto;
        display: block;
    }
    input[type="submit"] {
        width: auto;
        @extend %btn;
        border: 1px solid $grey;
        font-weight: bold;
        background: white;
    }
    .field.closeIncidentReason {
    	margin-top:5px;
        label {
            margin-top: 6px;
            float: left;
            width: 30%;
            text-align: right;
        }
        select {
            float: left;
            width: 68%;
            margin-left: 2%;
        }
    }
}