#pgPasswordUpdate {
    form {
        width: 80%;
    }
    .advice,
    .errorMessage {
        clear: both;
        width: 68%;
        float: right;
    }
    ul.action {
        float: right;
        width: 68%;
        margin-left: 2%;
        li {
            float: left;
            width: 49%;
            &:last-child {
                margin-left: 2%;
            }
        }
    }
    input[type="submit"] {
        border-color: $grey!important;
    }
}