/**
 *
 * Game Branding
 *
 */

$purple: #a12283;
$lightPurple: #b61d92;
$grey: #333;
$lightGrey: #999;
$lighterGrey: #666666;
$veryLightGrey: #DBDBDB;
$borderGrey:  #A0A0A0;
$lightBorderGrey: #dbdbdb;
$textGrey: #E1E1E1;
$preownedYellow: #FFD700;
$outofstockGrey: #CCC;
$saleRed: #CC0000;
$backgroundGrey: #e7e7e7;
$lightBackgroundGrey: #F7F7F7;
$borderColor: rgba(0, 0, 0, 0.1);
$red : #d43f3a;
$tableHead: #eae9e9;

/**
 *
 * Format Branding
 *
 */

$xbox: #107C10;
$wii: #0096C8;
$ps: #01458C;
$ds: #CF181F;
$eshop: #FF7E00;
$pc: #333333;



/* Default Transition time */

$defTranTime : 0.1s;