#HomeCarousel1 {
    overflow: hidden;
    .sliderContainer {
        overflow: hidden;
    }
}
.productCarousel {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 20px;
    background: white;
    h2 {
        display: inline-block;
        font-size: 16px;
        padding: 0 20px;
        margin-bottom: 20px;
    }
    > a {
        font-weight: bold;
        color: $purple;
        text-decoration: none;
        float: right;
        margin-right: 20px;
        &:after {
            content: ">";
            speak: none;
            margin-left: 5px;
        }
    }
    li {
        float: left;
        width: 228px;
        padding: 0 10px;
        text-align: center;
        a {
            color: $grey;
        }
    }
    blockquote {
        font-style: italic;
        display: inline-block;
        width: 100%;
        margin: 10px 0;
        &:before,
        &:after {
            content: '\0022';
        }
    }
    .carousel {
        border-top: 1px solid #eae9e9;
        display: inline-block;
        position: relative;
        width: 100%;
        overflow: hidden;
        padding: 20px 30px;
    }
    .carouselPrev,
    .carouselNext {
        position: absolute;
        top: 68px;
        margin-top: -43px;
        width: 20px;
        line-height: 95px;
        text-align: center;
        color: #c2c2c2;
        font-size: 12px;
        border: 1px solid #eae9e9;
        cursor: pointer;
        span {
            text-indent: -9999px;
            display: inline-block;
        }
        &.inactive {
            cursor: default;
            opacity: 0.5;
        }
    }
    .carouselPrev {
        left: 20px;
        padding-left: 2px;
        &:before {
            @extend %arrow-v-left;
        }
    }
    .carouselNext {
        right: 20px;
        padding-left: 4px;
        &:before {
            @extend %arrow-v-right;
        }
    }
    .productSliderContainer {
        position: static;
        width: 100%;
        .slider {
            img {
                width: 100%;
                height:auto;
            }
        }
    }
}
