#pgPasswordReset {
    form#resetPassword {
        width: 60%;
    }
    .indicator {
        margin-top: 6px;
        float: left;
        width: 50%;
        text-align: right;
    }
    .element {
        float: left;
        width: 48%;
        margin-left: 2%;
    }
    .field {
        position: relative;
        margin-bottom: 20px;
        @extend %clearfix;
    }
    input[type="submit"] {
        @extend %primaryBtn;
        @extend %mainBtn;
        width: 200px;
        &:hover {
            border-color: $grey;
        }
    }
    .g-recaptcha {
        float: right;
    }
    ul.action {
        float: right;
        width: 100%;
        margin-top: 15px;
    }
}

#pgPasswordUpdate #content{
    #primary {
        width: 100%;
        padding: 20px;
        .formSepContainer {
            padding: 20px;
            border: 1px solid $lightBorderGrey;
            .formSep {
                padding: 0;
                border: none;
                width: 50%;
                margin-left: 5%;
            }
        }
    }
}